body {
 /* 
 background-image: url(../img/ferramentas-essenciais-para-capturar-momentos-vista-superior-de-acessorios-fotograficos-com-espaco-para-texto_930407-7994.jpg);
 background-repeat: no-repeat;
 background-size: contain;*/
 background-color: rgb(37, 37, 37);

        
        
}
.img_header {
    width: 100%;
    height: 11.0rem;
    position:absolute;
}
.profile {
    position: relative;
    z-index: 1;
    text-align: center;
  
}
.foto_profile {
    margin-top: 1.6rem;
    width: 6.4rem;
    border-radius: 50%;
}

p {
   
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-style: italic;
}

.botoes {
    margin-top: 1.6rem;
   text-align: center;
}
.botões_lista {
   list-style: none;
   
}
.botoes_item {
    border: 1px solid rgb(103, 35, 167);
    border-radius: 0.8rem;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1.6rem;

}

.botoes_link {
    text-decoration: none;
    line-height: 3;
    padding: 0.8rem;
    color: white;
    font-weight: 700;
} 

.botoes_item:hover {
    background-color: rgb(73, 23, 119);
}

.icon {
    text-align: center;
    
}
.icon_item {
    display: inline;
    font-size: 2.0rem;
    padding:0.8rem;
    color: white;
}
.icon_link {
        color: white;
}

footer {
    font-size: 1.2rem;
    color: white;
    padding: 1.6rem;
    text-align: center;
    font-weight: 300;
}


@media scree and (min-width: 740px){
    .img_header {
        margin: 0 auto;
       
        width: 100%;
        height: 14.3rem;
    }
    .foto_profile{
        margin-top: 2.6rem;
    }
    .botoes {
        margin-top: 6.0rem;
        
    }
    .botoes_item {
        width: 45%;
    }
}


@media screen and (min-width: 1024px) {
    .img_header {
        margin: 0 auto;
       
        width: 100%;
        height: 14.3rem;
    }
    .foto_profile{
        margin-top: 2.6rem;
    }
    .botoes {
        margin-top: 6.0rem;
        
    }
    .botoes_item {
        width: 50%;
    }
}

@media screen and (min-width: 1728px) {
    body {
        margin: 0 auto;
        background-color:  rgb(54, 37, 68);
        background-image: none;
    }
}