.texto_site {
    color: white;
    margin-top: 1.6rem;
    font-weight: 300;
}
p {
    padding: 0.8rem;
}

.center {
    text-align: center;
}
.italic {
    font-style: italic;
}


@media screen and (min-width: 1024px) {
    body {
        margin: 0 auto;
        
    }
    .cabeçalho {
        width: 100%;
    }
    .texto-carta {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1728px) {
    body {
        margin: 0 auto;
        
    }
    .cabeçalho {
        width: 100%;
    }
    .texto-carta {
        width: 80%;
        margin: 0 auto;
    }
}