.texto_eu, .texto_med, .texto_psico, .texto_ferram {
    color: white;
    margin-top: 1.6rem;
    font-weight: 300;
}
p {
    padding: 0.8rem;
}

.pilar {
    font-style: italic;
    background: rgb(161, 103, 216);
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.italic {
    font-style: italic;
}

.med_atualizado {
   padding: 0.8rem;
}
.med_link {
    text-decoration: none;
    color: rgb(38, 124, 110);
}
hr {
    margin-top: 0.8rem;
}

.bgcolor {
    background-color: rgb(92, 62, 119);
    padding:0;
    margin:0;
}

.weight {
    font-weight: 700;
}


@media screen and (min-width: 1024px) {
    body {
        margin: 0 auto;
        
    }
    .cabeçalho {
        width: 100%;
    }
    .texto-carta {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1728px) {
    body {
        margin: 0 auto;
        
    }
    .cabeçalho {
        width: 100%;
    }
    .texto-carta {
        width: 80%;
        margin: 0 auto;
    }
}