.img_header {
    width: 100%;
    height: 10.0rem;
    position:absolute;
}
.titulo_header {
    z-index: 0;
    position: relative;
    color: rgb(20, 15, 8);
    font-size: 2.4rem;
    margin-left: 1.6rem;
}

body {
    background-color: rgb(201, 171, 230);

}
.titulo_texto {
    position: relative;
    margin-top: 9.6rem;
    margin-bottom: 1.6rem;
    text-align: center;
}
.corpo_texto {
    padding: 0.8rem
}
.corpo_texto2 {
    padding: 0.8rem;
    background-color: rgb(11, 131, 131);
}
p {
    line-height: 1.5;
    
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: justify;
}

@media  screen and (min-width: 1028px) {
    .img_header {
        width: 100%;
        height: 15.0rem;
    }
    .titulo_texto {
        margin-top: 14.6rem;
}