.texto_versos {
    color: white;
}

p { 
    padding: 0.8rem;
    font-weight: 300;
}

.center {
    text-align: center;
}

.bgcolor2 {
    background-color: rgb(92, 62, 119);
    padding:0;
    margin:0;
}
.right {
    text-align: right;
}


@media screen and (min-width: 1024px) {
    body {
        margin: 0 auto;
        
    }
    .cabeçalho {
        width: 100%;
    }
    .texto-carta {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1728px) {
    body {
        margin: 0 auto;
        
    }
    .cabeçalho {
        width: 100%;
    }
    .texto-carta {
        width: 80%;
        margin: 0 auto;
    }
}