.texto_versos {
    color: white;
}

p { 
    padding: 0.8rem;
}

.center {
    text-align: center;
}

.bgcolor2 {
    background-color: rgb(92, 62, 119);
    padding:0;
    margin:0;
}
.right {
    text-align: right;
}